*{
  margin:0;
  padding:0;
}
body{
  background-image:url("images/bg-pattern-top-mobile.svg"),url("images/bg-pattern-bottom-mobile.svg");
  background-repeat:no-repeat;
  font-family:Spartan, sans-serif;
  font-size:0.938em;
}
/*Header Content starts here*/
.header-container{
  margin:0.625em;
  overflow:hidden;
}
.mission-statement,.header-reviews{
  text-align:center;
}
.mission-statement h1{
  padding:2.5em 2.5em 1.25em;
}
.mission-statement h1,.star-review h4{
  color:#502050;
}
.mission-statement p{
  color:#937B92;
  padding-bottom:3.438em;
}
.star-review{
  background-color:#F7F2F7;
  border-radius:0.625em;
  margin:0.625em;
  padding:0.625em;
}
.star-review h4{
  padding-top:0.313em;
}
/*Desktop*/
@media screen and (min-width:1025px){
  body{
    background-image:url("images/bg-pattern-top-desktop.svg");
  }
  .header-container{
    display:flex;
    margin:3.750em;
  }
  .mission-statement{
    text-align:left;
    width:34.375em;
  }
  .mission-statement h1{
    padding:60px 60px 10px;
    margin:50px 50px 0px;
  }
  .mission-statement p{
    line-height:1.2;
    padding:10px 60px 10px;
    margin:5px 50px 0px;
  }
  .header-reviews{
    margin:50px 60px 10px;
  }
  .star-review{
    width:500px;
  }
  .star-review img{
    float:left;
  }
  .star-review h4{
    text-align:left;
  }
}
