*{
  margin:0;
  padding:0;
}
body{
  background-image:url("images/bg-pattern-top-mobile.svg"),url("images/bg-pattern-bottom-mobile.svg");
  background-repeat:no-repeat;
  font-family:Spartan, sans-serif;
  font-size:0.938em;
}
/*Header Content starts here*/
.header-container{
  margin:0.625em;
  overflow:hidden;
}
.mission-statement,.header-reviews{
  text-align:center;
}
.mission-statement h1{
  padding:2.5em 2.5em 1.25em;
}
.mission-statement h1,.star-review h4{
  color:#502050;
}
.mission-statement p{
  color:#937B92;
  padding-bottom:3.438em;
}
.star-review{
  background-color:#F7F2F7;
  border-radius:0.625em;
  margin:0.625em;
  padding:0.625em;
}
.star-review h4{
  padding-top:0.313em;
}
/*Customer-review section*/
.customer-container{
  margin:5px;
}
.customer-review{
  background-color:#502050;
  border-radius:10px;
  margin:15px;
  padding:25px;
}
.customer-review img{
  border-radius:50%;
  padding:15px;
  float:left;
  height:50px;
  width:50px;
}
.customer-review p{
  color:#FFFFFF;
  line-height:25px;
}
.customer-name{
  font-weight:bold;
  padding-top:15px;
}
.verified{
  color:#EE68A4;
}
.customer-statement{
  padding-top:30px;
  margin:10px;
}
.attribution{
  font-size:10px;
  text-align:center;
}
/*Desktop queries*/
@media screen and (min-width:1025px){
  body{
    background-image:url("images/bg-pattern-top-desktop.svg");
  }
  .header-container{
    display:flex;
    margin:3.750em;
  }
  .mission-statement{
    text-align:left;
    margin-top:50px;
    width:34.375em;
  }
  .mission-statement h1,.mission-statement p{
    padding:0;
    margin:20px;

  }
  .header-reviews{
    margin:50px 60px 10px;
  }
  .star-review{
    margin:20px;
    padding:15px;
    width:500px;
  }
  .star-review img{
    float:left;
    padding:5px;
  }
  .star-review h4{
    text-align:right;
    padding-right:90px;

  }
  #star-review-1{
    position:relative;
    right:45px;
  }
  #star-review-3{
    position:relative;
    left:40px;
  }
}
