*{
  margin:0;
  padding:0;
}
body{
  background-image:url("images/bg-pattern-top-mobile.svg"),url("images/bg-pattern-bottom-mobile.svg");
  background-repeat:no-repeat;
  font-family:Spartan, sans-serif;
  font-size:0.938em;
}
/*Header Content starts here*/
.header-container{
  margin:0.625em;
  overflow:hidden;
}
.mission-statement,.header-reviews{
  text-align:center;
}
.mission-statement h1{
  padding:2.5em 2.5em 1.25em;
}
.mission-statement h1,.star-review h4{
  color:#502050;
}
.mission-statement p{
  color:#937B92;
  padding-bottom:3.438em;
}
.star-review{
  background-color:#F7F2F7;
  border-radius:0.625em;
  margin:0.625em;
  padding:0.625em;
}
.star-review h4{
  padding-top:0.313em;
}
/*Customer-review section*/
.customer-container{
  margin:0.313em;
}
.customer-review{
  background-color:#502050;
  border-radius:0.625em;
  margin:0.938em;
  padding:1.563em;
}
.customer-review img{
  border-radius:50%;
  padding:0.938em;
  float:left;
  height:3.125em;
  width:3.125em;
}
.customer-review p{
  color:#FFFFFF;
  line-height:1.563em;
}
.customer-name{
  font-weight:bold;
  padding-top:0.938em;
}
.verified{
  color:#EE68A4;
}
.customer-statement{
  padding-top:1.875em;
  margin:0.625em;
}
.attribution{
  font-size:0.625em;
  text-align:center;
}
/*Desktop queries*/
@media screen and (min-width:1025px){
  body{
    background-image:url("images/bg-pattern-top-desktop.svg");
  }
  .header-container{
    display:flex;
    margin:3.750em;
  }
  .mission-statement{
    text-align:left;
    margin-top:3.125em;
    width:34.375em;
  }
  .mission-statement h1,.mission-statement p{
    padding:0;
    margin:1.250em;

  }
  .header-reviews{
    margin:3.125em 3.750em 0.625em;
  }
  .star-review{
    margin:1.250em;
    padding:0.938em;
    width:31.250em;
  }
  .star-review img{
    float:left;
    padding:0.313em;
  }
  .star-review h4{
    text-align:right;
    padding-right:5.625em;

  }
  #star-review-1, #star-review-3, #customer-review-1, #customer-review-3{
    position:relative;
  }
  #star-review-1{
    right:2.813em;
  }
  #star-review-3{
    left:2.500em;
  }
  .customer-container{
    display:inline-flex;
  }
  #customer-review-1{
    bottom:1.250em;
  }
  #customer-review-3{
    top:1.250em;
  }
}
