body{
  background-image:url("images/bg-pattern-top-desktop.svg");
  background-repeat:no-repeat;
  font-family:Spartan;
  font-size:15px;
}
.mission-statement{
  margin:50px;
  padding:10px;
  height:280px;
  width:380px;
}
.mission-statement h1,.rating h4{
    color:#502050;
}
.mission-statement p{
    color:#937B92;
}
.rating-review{
  background-color:#F7F2F7;
  border-radius:10px;
}
.customer-review{
  background-color:#502050;
  border-radius:4px;
  color:#FFFFFF;
}
.customer-review img{
  border-radius:50%;
  float:left;
}
.name{
  font-weight:bold;
}
.vertified{
  color:#EE68A4;
  font-weight:normal;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width:850px){

  body{
    background-image:url("images/bg-pattern-top-mobile.svg"),url("images/bg-pattern-bottom-mobile.svg");
    background-repeat:no-repeat;
  }
  .mission-statement{
    margin:0;
    padding:0;
    height:200px;
  }
  .mission-statement h1{
    margin-top:60px;
    text-align:center;
  }
  .mission-statement p,.rating-review{
    text-align:center;
  }
  .stars{
    padding-top:10px;
  }
  .customer-review img{
    padding:35px;
    height:55px;
    width:55px;
  }
  .name{
    padding-top:35px;
  }
  .statement{
    padding:45px;
    text-align:justify;
  }
}
