
body{
  font-family:Spartan;
  font-size:15px;
}
h1, .rating h4{
  color:#502050;
}
.mission-statement p{
  color:#937B92;
}
.rating-review{
  background-color:#F7F2F7;
  border-radius:10px;
  text-align:center;
}
.stars{
  padding-top:10px;
}
.customer-review{
  background-color:#502050;
  border-radius:4px;
  color:#FFFFFF;
}
.customer-review img{
  border-radius:50%;
  float:left;
  padding:35px;
  height:50px;
  width:50px;
}
.customer-review p{
  padding:20px;
}
.name{
  font-weight:bold;
  padding:10px;
}
.vertified{
  color:#EE68A4;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
