body{
  background-image:url("images/bg-pattern-top-mobile.svg"),url("images/bg-pattern-bottom-mobile.svg");
  background-repeat:no-repeat;
  font-family:Spartan;

  font-size:15px;
}
h1{
  margin-top:60px;
  text-align:center;
}
h1, .rating h4{
  color:#502050;
}
.mission-statement p{
  color:#937B92;
  text-align:center;
}
.rating-review{
  background-color:#F7F2F7;
  border-radius:10px;
  text-align:center;
}
.stars{
  padding-top:10px;
}
.customer-review{
  background-color:#502050;
  border-radius:4px;
  color:#FFFFFF;
}
.customer-review img{
  border-radius:50%;
  float:left;
  padding:35px;
  height:55px;
  width:55px;
}
.name{
  font-weight:bold;
  padding-top:35px;
}
.vertified{
  color:#EE68A4;
  font-weight:normal;
}
.statement{
  padding:45px;
  text-align:justify;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
